{% extends 'admin/index.html' %}  <!-- # realizamos herencia al index del admin de django -->
{% load static %}  <!-- # llamamos recuersos de carpeta static -->
{% load i18n %}
{% block extrahead %}

{{block.super}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>
<script src="{% static 'js/select_dep.js' %}"></script>
<script src="{% static 'js/view_data.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/index_dash.css' %}">

{% endblock %}



{% block content %}
<div class="contet-filter">
    <div class="d-flex ">
        <select class="form-control search-filter select2-hidden-accessible" name="departamentos" id="departamentos">
            <option value="dep" selected>Departamentos</option>
        </select>
        <button type="button" id="consulta" class="ml-2 btn btn-primary">Consultar</button>
    </div>
</div>
<br>

<div class="content-result">
    <div id="map" class="d-flex justify-content-center" style="width: 100%; height: 600px;"></div>

    <div class="ocultar" id="graphs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="clasificacion" style="width: 100%; height: 300px;"></div>
                </div>
                <br>
                <div class="col-md-12">
                    <div id="estrato" style="width: 100%; height: 300px;"></div>
                </div>
                <div class="col-md-12">
                    <div id="sexo" style="width: 100%; height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}